<!DOCTYPE html>
<html>
    <head>
        <title>QRQuest</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            h1 {
                position: fixed;
                top: 50vh;
                left: 50vw;
                transform: translate(-50%, -50%);
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Найди все QR-коды!</h1>
    </body>
</html>